.idea/
.vscode/
*.sh
env/
.ebignore
cmake-build-debug/
cmake-build-release/
__pycache__

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
